<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">

    <title>Gym Management System</title>
</head>
<body>
    <header>
        <h1>Gym Management System</h1>
    </header>
    <nav>
        <div class="container">
            <a href="/">Home</a>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
            <a href="/dashboard">Dashboard</a>
        </div>
    </nav>
    <div class="container">
    <h1>Welcome to the Gym</h1>
    <p>Your journey to fitness begins here.</p>
    </div>
</body>
</html>
