<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>
<body>
    
    <header>
        <h1>Gym Management System</h1>
    </header>
    <nav>
        <div class="container">
            <a href="/">Home</a>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
            <a href="/dashboard">Dashboard</a>
        </div>
    </nav>

    
    <form action="/login" method="POST">
        <h2>Member Login</h2>
        <input type="email" name="email" placeholder="Email Address" required>
        <input type="password" name="password" placeholder="Enter Password" required>
        <button type="submit">Login</button>
    </form>

    
    <footer>
        <p>&copy; 2023 Gym Management System</p>
    </footer>
</body>
</html>
